In [3]:
from lisc import Counts
from lisc.utils.db import SCDB
from lisc.plts.counts import *
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

terms_a = [['"fear"'], ['"anger"'], ['"sadness"'], ['"sentimental"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts = Counts()
counts.add_terms(terms_a)

# Collect data using the run_collection method
counts.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts.check_counts()

Running counts for:  "fear"
Running counts for:  "anger"
Running counts for:  "sadness"
Running counts for:  "sentimental"
The number of documents found for each search term is:
  '"fear"'          -   75898
  '"anger"'         -   16735
  '"sadness"'       -    6458
  '"sentimental"'   -     236

In [2]:
counts.counts

array([[   0, 2970, 1953,   11],
       [2970,    0, 2417,    4],
       [1953, 2417,    0,    2],
       [  11,    4,    2,    0]])

In [3]:

terms_b = [['"amygdala"'], ['"temporal lobe"'], ['"prefrontal cortex"'], ['"hippocampus"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts2 = Counts()
counts2.add_terms(terms_b)

# Collect data using the run_collection method
counts2.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts2.check_counts()

Running counts for:  "amygdala"
Running counts for:  "temporal lobe"
Running counts for:  "prefrontal cortex"
Running counts for:  "hippocampus"
The number of documents found for each search term is:
  '"amygdala"'            -    38232
  '"temporal lobe"'       -    34508
  '"prefrontal cortex"'   -    52462
  '"hippocampus"'         -   119453

In [4]:
counts2.counts

array([[    0,  2285,  6589, 11829],
       [ 2285,     0,  1655,  6500],
       [ 6589,  1655,     0,  8836],
       [11829,  6500,  8836,     0]])

In [5]:
terms_c = [['"amygdala"'], ['"hippocampus"'],['"fear"'], ['"anger"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts3 = Counts()
counts3.add_terms(terms_c)

# Collect data using the run_collection method
counts3.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts3.check_counts()

Running counts for:  "amygdala"
Running counts for:  "hippocampus"
Running counts for:  "fear"
Running counts for:  "anger"
The number of documents found for each search term is:
  '"amygdala"'      -    38232
  '"hippocampus"'   -   119453
  '"fear"'          -    75898
  '"anger"'         -    16735

In [6]:
terms_d = [['"amygdala"'], ['"prefrontal cortex"'],['"fear"'], ['"attention"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts4 = Counts()
counts4.add_terms(terms_d)

# Collect data using the run_collection method
counts4.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts4.check_counts()

Running counts for:  "amygdala"
Running counts for:  "prefrontal cortex"
Running counts for:  "fear"
Running counts for:  "attention"
The number of documents found for each search term is:
  '"amygdala"'            -    38232
  '"prefrontal cortex"'   -    52462
  '"fear"'                -    75898
  '"attention"'           -   477792

In [7]:
counts4.counts

array([[   0, 6589, 5168, 1678],
       [6589,    0, 2096, 5083],
       [5168, 2096,    0, 3852],
       [1678, 5083, 3852,    0]])

# Emotions that we want to look at:
- FEAR
- ANGER
- SADNESS
- SENTIMENTAL

# Regions in the brain we want to look at:
- Amygdala
- Temporal lobe
- Prefrontal Cortex
- Hippocampus

# Overall question
- Does emotion(postive/negative) influence reaction time
    - fear
- Does isolation affect emotion
- Emotion and memory
    - Happy, sad, fear, sentimental, bored, depression
    - Does music help
    - Does being happy/sad/mad help
    - Enviornment 
        - Loction of learning, learning at school Environment help retain knowledge 
            -Does the emotion in that environment affect it
        - How well can people adapt to forced learning measures
        - 
     - Does body posture affect memory
     - Do drugs imporve memory
         - Does time of consumtion matter
     - 
             
    
- Emotion and music

In [7]:


hippDf = pd.read_csv('hippoCorpusV2.csv')
islandersDf = pd.read_csv('Islander_data.csv')

In [8]:
# Selected annotatorAge and story columns
new_df = hippDf[['annotatorAge','story']]
new_df

      annotatorAge                                              story
0             25.0  Concerts are my most favorite thing, and my bo...
1             25.0  The day started perfectly, with a great drive ...
2             35.0  It seems just like yesterday but today makes f...
3             30.0  Five months ago, my niece and nephew were born...
4             25.0  About a month ago I went to burning man. I was...
...            ...                                                ...
6849          30.0  My dog was diagnosed with lymphoma a year ago ...
6850          18.0  Over my vacation from my job, I went to Casper...
6851          35.0  This event was a birthday party for my nephew....
6852          30.0  This event occurred about two weeks ago. I was...
6853          45.0  Over the past year I have been involved with a...

[6854 rows x 2 columns]

In [21]:
# Checked the ammount of null values
new_df['story'].isna().sum()

0

In [14]:
# Sentiment Analysis
sentiment_score = []
sentiment = []
sentiment_obj = SentimentIntensityAnalyzer()
for i in range(len(new_df['story'])):
    sentiment_score.append(sentiment_obj.polarity_scores(new_df['story'][i]))
    score = sentiment_obj.polarity_scores(new_df['story'][i])['compound']
    if score > 0.05:
        sentiment.append("Positive")
    elif score <= -0.05:
        sentiment.append("Negative")
    else:
        sentiment.append("Neutral")

In [15]:
new_df['sentiment_score'] = sentiment_score
new_df['sentiment'] = sentiment

/var/folders/93/dy9vvt2s2rl2nhwc9km6br000000gn/T/ipykernel_17428/4076535744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['sentiment_score'] = sentiment_score
/var/folders/93/dy9vvt2s2rl2nhwc9km6br000000gn/T/ipykernel_17428/4076535744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['sentiment'] = sentiment

In [16]:
new_df

,annotatorAge,story,sentiment_score,sentiment
0,25.0,"Concerts are my most favorite thing, and my bo...","{'neg': 0.011, 'neu': 0.714, 'pos': 0.274, 'co...",Positive
1,25.0,"The day started perfectly, with a great drive ...","{'neg': 0.03, 'neu': 0.704, 'pos': 0.266, 'com...",Positive
2,35.0,It seems just like yesterday but today makes f...,"{'neg': 0.023, 'neu': 0.826, 'pos': 0.151, 'co...",Positive
3,30.0,"Five months ago, my niece and nephew were born...","{'neg': 0.041, 'neu': 0.794, 'pos': 0.165, 'co...",Positive
4,25.0,About a month ago I went to burning man. I was...,"{'neg': 0.052, 'neu': 0.872, 'pos': 0.076, 'co...",Positive
...,...,...,...,...
6849,30.0,My dog was diagnosed with lymphoma a year ago ...,"{'neg': 0.134, 'neu': 0.817, 'pos': 0.049, 'co...",Negative
6850,18.0,"Over my vacation from my job, I went to Casper...","{'neg': 0.081, 'neu': 0.846, 'pos': 0.074, 'co...",Negative
6851,35.0,This event was a birthday party for my nephew....,"{'neg': 0.0, 'neu': 0.787, 'pos': 0.213, 'comp...",Positive
6852,30.0,This event occurred about two weeks ago. I was...,"{'neg': 0.105, 'neu': 0.778, 'pos': 0.118, 'co...",Positive
6853,45.0,Over the past year I have been involved with a...,"{'neg': 0.046, 'neu': 0.801, 'pos': 0.153, 'co...",Positive