In [1]:
#pip install vaderSentiment

# PROJECT NAME

### PROJECT MEMBERS

In [2]:
#Research Question and Background
#Hypothesis

# Overall question
- Does emotion(postive/negative) influence reaction time
    - fear
- Does isolation affect emotion
- Emotion and memory
    - Happy, sad, fear, sentimental, bored, depression
    - Does music help
    - Does being happy/sad/mad help
    - Enviornment 
        - Loction of learning, learning at school Environment help retain knowledge 
            -Does the emotion in that environment affect it
        - How well can people adapt to forced learning measures
        - 
     - Does body posture affect memory
     - Do drugs imporve memory
         - Does time of consumtion matter
     - 
             
    
- Emotion and music

# Emotions that we want to look at:
- FEAR
- ANGER
- SADNESS
- SENTIMENTAL

# Regions in the brain we want to look at:
- Amygdala
- Temporal lobe
- Prefrontal Cortex
- Hippocampus

# I. Set Up

In [3]:
from lisc import Counts
from lisc.utils.db import SCDB
from lisc.plts.counts import *
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Data Import
hippDf = pd.read_csv('hippoCorpusV2.csv')
islandersDf = pd.read_csv('Islander_data.csv')

### 1a. Text Mining

In [4]:
#First term list we are searching for
terms_a = [['"fear"'], ['"anger"'], ['"sadness"'], ['"sentimental"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts = Counts()
counts.add_terms(terms_a)

# Collect data using the run_collection method
counts.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts.check_counts()

Running counts for:  "fear"
Running counts for:  "anger"
Running counts for:  "sadness"
Running counts for:  "sentimental"
The number of documents found for each search term is:
  '"fear"'          -   75931
  '"anger"'         -   16745
  '"sadness"'       -    6460
  '"sentimental"'   -     236

In [5]:
counts.counts

array([[   0, 2972, 1953,   11],
       [2972,    0, 2418,    4],
       [1953, 2418,    0,    2],
       [  11,    4,    2,    0]])

In [6]:
#Second term list we are searching for
terms_b = [['"amygdala"'], ['"temporal lobe"'], ['"prefrontal cortex"'], ['"hippocampus"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts2 = Counts()
counts2.add_terms(terms_b)

# Collect data using the run_collection method
counts2.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts2.check_counts()

Running counts for:  "amygdala"
Running counts for:  "temporal lobe"
Running counts for:  "prefrontal cortex"
Running counts for:  "hippocampus"
The number of documents found for each search term is:
  '"amygdala"'            -    38241
  '"temporal lobe"'       -    34521
  '"prefrontal cortex"'   -    52479
  '"hippocampus"'         -   119487

In [7]:
counts2.counts

array([[    0,  2286,  6593, 11830],
       [ 2286,     0,  1656,  6502],
       [ 6593,  1656,     0,  8840],
       [11830,  6502,  8840,     0]])

In [8]:
#Third term list we are searching for
terms_c = [['"amygdala"'], ['"hippocampus"'],['"fear"'], ['"anger"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts3 = Counts()
counts3.add_terms(terms_c)

# Collect data using the run_collection method
counts3.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts3.check_counts()

Running counts for:  "amygdala"
Running counts for:  "hippocampus"
Running counts for:  "fear"
Running counts for:  "anger"
The number of documents found for each search term is:
  '"amygdala"'      -    38241
  '"hippocampus"'   -   119487
  '"fear"'          -    75931
  '"anger"'         -    16745

In [9]:
#Fourth term list we are searching for
terms_d = [['"amygdala"'], ['"prefrontal cortex"'],['"fear"'], ['"attention"']]

# Initialize counts object and use the add_terms method to add terms that we want to search
counts4 = Counts()
counts4.add_terms(terms_d)

# Collect data using the run_collection method
counts4.run_collection(verbose=True, db='pubmed', field='tiab')

# Check how many articles were found for each search term
counts4.check_counts()

Running counts for:  "amygdala"
Running counts for:  "prefrontal cortex"
Running counts for:  "fear"
Running counts for:  "attention"
The number of documents found for each search term is:
  '"amygdala"'            -    38241
  '"prefrontal cortex"'   -    52479
  '"fear"'                -    75931
  '"attention"'           -   478114

In [10]:
counts4.counts

array([[   0, 6593, 5168, 1678],
       [6593,    0, 2096, 5083],
       [5168, 2096,    0, 3852],
       [1678, 5083, 3852,    0]])

# II. Data Cleaning

In [11]:
# Selected annotatorAge and story columns
new_df = hippDf[['annotatorAge','story']]
new_df

      annotatorAge                                              story
0             25.0  Concerts are my most favorite thing, and my bo...
1             25.0  The day started perfectly, with a great drive ...
2             35.0  It seems just like yesterday but today makes f...
3             30.0  Five months ago, my niece and nephew were born...
4             25.0  About a month ago I went to burning man. I was...
...            ...                                                ...
6849          30.0  My dog was diagnosed with lymphoma a year ago ...
6850          18.0  Over my vacation from my job, I went to Casper...
6851          35.0  This event was a birthday party for my nephew....
6852          30.0  This event occurred about two weeks ago. I was...
6853          45.0  Over the past year I have been involved with a...

[6854 rows x 2 columns]

In [12]:
#Show unique values of age
hippDf['annotatorAge'].unique()

array([25., 35., 30., 18., 50., 40., 45., 55., nan])

From this, we can see that there are 8 unique age variables. For this project, we will classify the ages 0-18 as 'Youth', 19-49 as 'Adults', and 50+ as 'Seniors' into a new column called "AgeGroup"

In [13]:
#Categorizes annotatorAge into different age groups
new_df.loc[(new_df.annotatorAge <= 18),  'AgeGroup'] = "Youth"
new_df.loc[(new_df.annotatorAge >= 50),  'AgeGroup'] = "Senior"
new_df.fillna("Adult", inplace=True)

#Move the AgeGroup column
new_df = new_df[['AgeGroup','annotatorAge','story']]

#View dataframe
new_df.head()

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

  AgeGroup annotatorAge                                              story
0    Adult         25.0  Concerts are my most favorite thing, and my bo...
1    Adult         25.0  The day started perfectly, with a great drive ...
2    Adult         35.0  It seems just like yesterday but today makes f...
3    Adult         30.0  Five months ago, my niece and nephew were born...
4    Adult         25.0  About a month ago I went to burning man. I was...

In [20]:
#Drop all null values
new_df = new_df.dropna()
print(new_df['story'].isna().sum())
print(new_df['annotatorAge'].isna().sum())
print(new_df['AgeGroup'].isna().sum())

0
0
0

Dropped all null values in case it could affect our analysis

# III. Exploratory Data Analysis

### IIIa. Sentiment Analysis

In [16]:
# Sentiment Analysis
sentiment_score = []
sentiment = []
sentiment_obj = SentimentIntensityAnalyzer()
for i in range(len(new_df['story'])):
    sentiment_score.append(sentiment_obj.polarity_scores(new_df['story'][i]))
    score = sentiment_obj.polarity_scores(new_df['story'][i])['compound']
    if score > 0.05:
        sentiment.append("Positive")
    elif score <= -0.05:
        sentiment.append("Negative")
    else:
        sentiment.append("Neutral")

In [17]:
#Add 2 new columns to the dataframe
new_df['sentiment_score'] = sentiment_score
new_df['sentiment'] = sentiment

#View dataset
new_df.head()

,AgeGroup,annotatorAge,story,sentiment_score,sentiment
0,Adult,25.0,"Concerts are my most favorite thing, and my bo...","{'neg': 0.011, 'neu': 0.714, 'pos': 0.274, 'co...",Positive
1,Adult,25.0,"The day started perfectly, with a great drive ...","{'neg': 0.03, 'neu': 0.704, 'pos': 0.266, 'com...",Positive
2,Adult,35.0,It seems just like yesterday but today makes f...,"{'neg': 0.023, 'neu': 0.826, 'pos': 0.151, 'co...",Positive
3,Adult,30.0,"Five months ago, my niece and nephew were born...","{'neg': 0.041, 'neu': 0.794, 'pos': 0.165, 'co...",Positive
4,Adult,25.0,About a month ago I went to burning man. I was...,"{'neg': 0.052, 'neu': 0.872, 'pos': 0.076, 'co...",Positive

### IIIb. Visualizations

In [19]:
X = new_df['annotatorAge'].unique()
X.sort()
x_axis = np.arange(len(new_df['annotatorAge'].unique()))
positive = []
for x in X:
    positive.append(len(new_df[(new_df['annotatorAge'] == x) & (new_df['sentiment'] == 'Positive')]))
positive

negative = []
for x in X:
    negative.append(len(new_df[(new_df['annotatorAge'] == x) & (new_df['sentiment'] == 'Negative')]))
negative

plt.xticks(x_axis, X)

plt.bar(x_axis + 0.2 ,positive,0.4,label='Positive')
plt.bar(x_axis - 0.2 ,negative,0.4,label='Negative')
plt.ylabel('# of Sentiment')
plt.xlabel('Age')
plt.legend()
plt.show()

TypeError: '<' not supported between instances of 'str' and 'float'

From this graph we can see that...

In [ ]:
graph_2 = sns.histplot(x="AgeGroup", hue="sentiment", data=new_df, multiple = "dodge")

graph_2.set(xlabel = 'Age Group', ylabel='Number of Sentiment Observations')
plt.title("Number of Sentiment Observations by Age Group")

Next, we will look at the number of positive, negative, and neutral sentiments between different age groups. We can see that both positive and negative sentiments follow the same trend: Adults with the most observations, followed by Senior, and finally Youth.

# IV. Conclusion and Discussion

In [ ]:
#Conclusion